.review-part{
    color: white;
    background-color: #2f3542;
    border: 1px solid lightgray;
    border-radius: 12px;
    margin: 18px 35px;
    padding: 25px;
}
.review-part:hover{
    background-color: #3d465a;
}
.card-body{
    display: flex;
    align-items: center;
    background-image: url(../Images/quote.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right top;
}
.card-body img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.card-details{
    margin-left: 15px;
}
.card-details h3{
    margin: 0;
    font-weight: 400;
    font-size: 25px;
}
.card-details .ratings{
    margin: 0;
    color: orange;
}
.card-details .review-details{
    color: lightgrey;
}
.card-details .date{
    margin: 0;
    color: #747d8c;
}