.blog-page .title{
    text-align: center;
    color: white;
    /* font-family: 'Gruppo', cursive; */
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    margin-top: 54px;
}
.blog-page .title .target-text{
    color: rgb(249 115 22);
}